@import "../../../styles/mixines.scss";

.header {
  @include onMobile {
    width: 100%;
    height: 100%;
  }

  @include onTablet {
    width: 100%;
    height: 100%;
  }

  @include onDesktop {
    width: 100%;
    height: 100%;
  }

  &__nav {
    @include onMobile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      height: 15%;
      padding: 2% 15px 0 15px;
    }

    @include onTablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      height: 15%;
      padding: 2% 15px 0 15px;
    }

    @include onDesktop {
      display: flex;
      flex-direction: row;
      width: 90%;
      height: 15%;
      padding: 2% 15px 0 15px;
    }
  }

  &__burger {
    @include onDesktop {
      display: none;
    }
  }

  &__img {
    @include onMobile {
      width: 63px;
      height: 20px;
    }

    @include onTablet {
      width: 63px;
      height: 20px;
      padding-bottom: 5px;
    }

    @include onDesktop {
      width: 141px;
      height: 44px;
      padding-bottom: 20%;
      padding-right: 144px;
    }
  }
}

.desctopImg {
  @include onMobile {
    display: none;
  }

  @include onTablet {
    width: 100%;
  }

  @include onDesktop {
    width: 100%;
  }
}

.desctopLinks {
  @include onMobile {
    display: none;
  }

  @include onTablet {
    display: none;
  }

  @include onDesktop {
    width: 36%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 7%;
    padding: 1% 0 0 0;
    margin-right: 10%;
  }

  &__text {
    @include onDesktop {
      display: inline-block;
      text-decoration: none;
      color: black;
  
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 20px;
      text-align: center;
    }
  }


}

.underline {
  text-decoration: underline;
}

.language {
  @include onMobile {
    display: none;
  }

  @include onTablet {
    display: none;
  }

  @include onDesktop {
    display: block;
    width: 6%;
    padding: 0.5% 0 0 0;
  }

  &__text {
    @include onDesktop {
      display: inline-block;
      font-size: 20px;
      margin: 0 5px 0 0;
    }
  }

  &__icon {
    @include onDesktop {
      display: inline-block;
      vertical-align: text-bottom;
    }
  }
}

.categoriesSelect {
    border: none;
    width: 103px;
    font-size: 20px;
}

.burgerMenu {
  @include onMobile {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 80%;
    height: 80%;
    z-index: 1;
  }

  @include onTablet {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 80%;
    height: 94%;
    z-index: 1;
  }

  @include onDesktop {
    display: none;
  }
}

.closeButton {
  @include onMobile {
    display: flex;
    border: none;
    background: none;
    justify-content: right;
    margin: 1% 1% 1% 1%;
  }

  @include onTablet {
    display: flex;
    border: none;
    background: none;
    justify-content: right;
    margin: 1% 1% 1% 1%;
  }
}

.desctopLinksBurger {
  @include onMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 4%;
  }

  @include onTablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 4%;
  }

  @include onDesktop {
    display: none;
  }

    &__text {
      @include onMobile {
        display: inline-block;
        text-decoration: none;
        color: black;
    
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 15px;
        text-align: center;
      }

      @include onTablet {
        display: inline-block;
        text-decoration: none;
        color: black;
    
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 15px;
        text-align: center;
      }
    }
}

.burgerButton {
  background: none;
  border: none;
}

.burgerLinks {
  display: flex;
  flex-direction: column;
}

.select {
  text-decoration: none;
  color: black;
  padding: 2px;
}

.selectButton {
  display: inline-block;
  background: none;
  border: none;
  margin: 0;
  padding: 0 0 0 4%;
  width: 35%;
  font-size: 15px;
}

.burgerSelectIcon {
  display: inline-block;
  vertical-align: middle;
}

.iconBox {
  @include onMobile {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 19%;
  }

  @include onTablet {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 19%;
  }

  @include onDesktop {
    width: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 7%;
    padding: 1% 0 0 0;
  }
}

.burgLog {
  @include onMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30%;
  }

  @include onTablet {
    width: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30%;
  }

  @include onDesktop {
    width: 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30%;
    margin-right: 10%;
  }
}