@import "../../../styles/mixines.scss";

.form {
  @include onMobile {
    position: relative;
    background-image: url('../../../images/HomePage/formBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  @include onTablet {
    background-image: url('../../../images/HomePage/formBackgroundDesc.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  // @include onDesktop {
  //   background-image: url('../../../images/HomePage/formBackgroundDesc.png');
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   width: 100%;
  //   height: 100%;
  // }

  &__content {
    @include onMobile {
      position: absolute;
      width: 90%;
      bottom: 0;
      padding: 34px 32px 29px 32px;
      background-color: rgba(255, 252, 250, 0.3);
      backdrop-filter: blur(15px);
    }

    @include onTablet {
      width: 50%;
      height: 100%;
      padding: 34px 32px 29px 32px;
      background-color: rgba(255, 252, 250, 0.3);
      backdrop-filter: blur(15px);
    }

    @include onDesktop {
      width: 37%;
      height: 100%;
      padding: 34px 32px 84px 32px;
      background-color: rgba(255, 252, 250, 0.3);
      backdrop-filter: blur(15px);
    }

    &--title1 {
      @include onMobile {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
      }

      @include onTablet {
        display: inline-block;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 25px;
      }

      @include onDesktop {
        display: inline-block;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 52px;
        max-width: 369px;
      }
    }

    &--title2 {
      @include onMobile {
        font-family: sans-serif;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 29px;
      }

      @include onTablet {
        display: block;
        font-family: sans-serif;
        font-size: 17px;
        line-height: 30px;
        margin-bottom: 29px;
      }

      @include onDesktop {
        display: block;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 21px;
        margin-bottom: 29px;
        max-width: 362px;
        text-transform: uppercase;
      }
    }
  }
}

.inputs {
  &__title {
    @include onMobile {
      font-family: sans-serif;
      font-size: 15px;
      line-height: 14px;
      margin-bottom: 10px;
    }

    @include onTablet {
      display: inline-block;
      font-family: sans-serif;
      font-size: 15px;
      line-height: 14px;
      margin-bottom: 10px;
    }

    @include onDesktop {
      display: inline-block;
      font-family: sans-serif;
      font-size: 15px;
      line-height: 14px;
      margin-bottom: 10px;
    }
  }

  &__input {
    @include onMobile {
      width: 255px;
      height: 41px;

      background: rgba(255, 255, 255, 0.7);
      border: 1px solid rgba(244, 244, 244, 0.4);
    }

    @include onTablet {
      display: block;
      width: 185px;
      height: 41px;

      background: rgba(255, 255, 255, 0.7);
      border: 1px solid rgba(244, 244, 244, 0.4);
    }

    @include onDesktop {
      display: block;
      width: 100%;
      height: 41px;

      background: rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(244, 244, 244, 0.4);
    }
  }

  &__input::placeholder {
    color: #EFEFEF;
    font-size: 15px;
  }

  &__button {
    @include onMobile {
      display: block;
      margin-top: 20px;
      width: 262px;
      height: 42px;

      background: #ebc6a8;
      font-size: 20px;
    }

    @include onTablet {
      display: block;
      margin-top: 20px;
      width: 191px;
      height: 42px;

      background: #ebc6a8;
      font-size: 20px;
    }

    @include onDesktop {
      display: block;
      margin-top: 20px;
      width: 100%;
      height: 42px;

      background: #ebc6a8;
      border: none;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}

.fullPie {
  @include onMobile {
    display: none;
  }

  @include onTablet {
    display: none;
  }

  @include onDesktop {
    display: block;
    position: absolute;
    left: 120%;
    top: -19%;
    z-index: 1;
    width: 157%;
    height: 119%;
  }
}

.formSide {
  @include onDesktop {
    width: 77%;
    display: block;
    margin: 0 auto 5%;
  }
}

.tillDesctop {
  @include onMobile {
    display: block;
  }

  @include onTablet {
    display: block;
  }

  @include onDesktop {
    display: none;
  }
}

.onDesctop {
  @include onMobile {
    display: none;
  }

  @include onTablet {
    display: none;
  }

  @include onDesktop {
    display: block;
  }
}

.blockRd2 {
  @include onMobile {
    display: none;
  }

  @include onTablet {
    display: none;
  }

@include onDesktop {
  display: block;
  margin-bottom: 40px;
  height: 575px;
  position: relative;
  max-width: 1440px;
}
  &__someContent {
    @include onDesktop {
      display: flex;
      flex-direction: column;
      position: sticky;
      width: 586px;
      height: 109.5%;
      background-color: rgba(255, 252, 250, 0.3);
      backdrop-filter: blur(15px);
      z-index: 3;
    }

        &--title {
      @include onDesktop {
        color: black;
        display: inline-block;
        max-width: 390px;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 42px;
        margin-bottom: 13%;
        text-transform: uppercase;
        padding: 0 0 0 4%;
        margin: 0 0 1% 0;
      }
    }

    &--description {
            @include onDesktop {
              display: inline-block;
              font-family: sans-serif;
              font-size: 20px;
              line-height: 21px;
              margin-bottom: 9%;
              max-width: 355px;
              padding: 0 0 0 4%;
              color: black;
            }
          }

          &--button {
            @include onDesktop {
                      display: block;
                      margin: 0 0 0 4%;
              
                      width: 61%;
                      height: 49px;
              
                      background: #ebc6a8;
                      border: none;
                      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              
                      font-size: 20px;
                      text-transform: uppercase;
                    }
          }
  }

  &__image {
  }
  &__imageWrap {
    @include onDesktop {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    img {
      @include onDesktop {
        max-width: 100%;
        width: 1440px;
        height: 689px;
        object-fit: cover;
        transform: translateY(-60px);
      }
    }
    &1 {
      @include onDesktop {
        z-index: -1;
        overflow: hidden;
      }
    }
    &2 {
      @include onDesktop {
        z-index: 2;
      }
    }
  }
}

.someContentSide2 {
  @include onDesktop {
    width: 77%;
    display: block;
    margin: 0 auto 5%;
  }
}
