@import "../../../styles/mixines.scss";

a {
  text-decoration: none;
}

input {
  height: 23px;
}

.contactsMain {
  width: 100%;
  background-color: #FFF7F1;

  @include onMobile {
    height: 67rem;
  }

  @include onDesktop {
    background-image: url('../../../images/Contacts/BgrdGradient.png');
    background-size: cover;
  }


    @include onTablet {
      display: flex;
      flex-direction: row;
    }

  &__content {
    @include onTablet {
      width: 50%;
    }

    @include onDesktop {
      width: 50%;
      margin-left: 7%;
    }

    &--title {
      @include onMobile {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 42px;
        text-transform: uppercase;
        margin: 0;
        padding: 10% 0 0 7%;
      }

      @include onTablet {
        max-width: 50%;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 42px;
        text-transform: uppercase;
        margin: 0;
        padding: 10% 0 0 7%;
      }

      @include onDesktop {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 42px;
        text-transform: uppercase;
        margin: 0;
        padding: 10% 0 0 7%;
      }
    }

    &--font1 {
      @include onMobile {
        font-family: sans-serif;
        font-size: 20px;
        line-height: 21px;
        padding: 0 0 0 7%;
      }

      @include onTablet {
        font-family: sans-serif;
        font-size: 20px;
        line-height: 21px;
        padding: 0 0 0 7%;
      }

      @include onDesktop {
        font-family: sans-serif;
        font-size: 20px;
        line-height: 21px;
        padding: 0 0 0 7%;
        text-transform: uppercase;
        max-width: 450px;
      }
    }

    &--font2 {
      @include onMobile {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 20px;
        line-height: 21px;
        padding: 0 0 0 7%;
      }

      @include onTablet {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 20px;
        line-height: 21px;
        padding: 0 0 0 7%;
      }

      @include onDesktop {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 20px;
        line-height: 21px;
        padding: 0 0 0 7%;
      }
    }

    &--nav {
      @include onMobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 7% 15% 7%;
      }

      @include onTablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 7% 15% 7%;
      }

      @include onDesktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 7% 15% 7%;
        max-width: 301px;
      }
    }
  }

  &__form {
    @include onTablet {
      width: 50%;
    }

    &--text {
      @include onMobile {
        font-family: sans-serif;
        font-size: 20px;
        line-height: 21px;
        text-transform: uppercase;
        padding: 0 0 0 7%;
      }

      @include onTablet {
        font-family: sans-serif;
        font-size: 17px;
        line-height: 21px;
        text-transform: uppercase;
        padding: 5% 0 5% 7%;
        margin: 0;
      }

      @include onDesktop {
        font-family: sans-serif;
        font-size: 20px;
        line-height: 21px;
        text-transform: uppercase;
        padding: 0 0 2% 7%;
      }
    }

    &--textInputs {
      @include onMobile {
        width: 232px;
        margin: 0 0 0 7%;
        border: none;
      }

      @include onTablet {
        width: 232px;
        margin: 0 0 0 7%;
        border: none;
      }

      @include onDesktop {
        width: 75%;
        margin: 0 0 5% 7%;
        border: none;
      }
    }

    &--button {
      @include onMobile {
        display: block;
        width: 232px;
        height: 47px;
        background-color: #08090B;
        font-family: sans-serif;
        font-size: 20px;
        margin: 5% 0 15% 7%;
        color: #fff;
        text-transform: uppercase;
      }

      @include onTablet {
        display: block;
        width: 232px;
        height: 47px;
        background-color: #08090B;
        font-family: sans-serif;
        font-size: 20px;
        margin: 5% 0 15% 7%;
        color: #fff;
        text-transform: uppercase;
      }

      @include onDesktop {
        display: block;
        width: 75%;
        height: 47px;
        background-color: #08090B;
        font-family: sans-serif;
        font-size: 20px;
        margin: 5% 0 15% 7%;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}

.upperCase {
  text-transform: uppercase;
}

.addPadding {
  @include onTablet {
    padding-top: 10%;
  }

  @include onDesktop {
    padding-top: 10%;
  }
}

.inputsHeight {
  @include onDesktop {
    height: 46px;
  }
}
