@import "../../styles/mixines.scss";

.header {
  @include onMobile {
    width: 100%;
    height: 100%;
  }

  &__nav {
    @include onMobile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      height: 15%;
      padding: 50px 15px 0 15px;
    }
  }

  &__img {
    @include onMobile {
      width: 63px;
      height: 20px;
      margin-right: 25%;
    }
  }

  &__content {
    @include onMobile {
      position: relative;
      top: 50%;
      width: 90%;
      height: 85%;
    }

    &--block {
      @include onMobile {
        position: absolute;
        width: 100%;
        top: 27rem;
        padding: 34px 32px 55px 32px;
        background-color: rgba(255, 252, 250, 0.3);
        backdrop-filter: blur(15px);
      }
    }

    &--button {
      @include onMobile {
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;
        width: 250px;
        height: 53px;
        background: #ebc6a8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.h3 {
  @include onMobile {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 30px;
  }
}

.p {
  @include onMobile {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
