@import "../../../styles//mixines.scss";

.body3 {
  @include onMobile {
    background-image: url("../../../images/HomePage/GradientBody3.png");
    padding: 20px 0 39px 0;
  }

  @include onTablet {
    background-image: url("../../../images/HomePage/GradientBody3Desc.png");
    background-size: cover;
    padding: 20px 0 39px 0;
  }

  @include onDesktop {
    background-image: url("../../../images/HomePage/GradientBody3Desc.png");
    background-size: cover;
    padding: 20px 0 39px 0;
  }

  &__title1 {
    @include onMobile {
      font-family: sans-serif;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
    }

    @include onTablet {
      font-family: sans-serif;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
    }

    @include onDesktop {
      font-family: sans-serif;
      font-size: 20px;
      line-height: 21px;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
    }
  }

  &__title2 {
    @include onMobile {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
    }

    @include onTablet {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
    }

    @include onDesktop {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 42px;
      text-align: center;
    }
  }

  &__button {
    @include onMobile {
      width: 173px;
      height: 32px;
      background: none;
      border: none;
      margin-left: 75px;
      text-decoration: underline;
    }

    @include onTablet {
      display: block;
      width: 173px;
      height: 32px;
      background: none;
      border: none;
      margin: 0 auto;
      text-decoration: underline;
    }

    @include onDesktop {
      display: block;
      width: 259px;
      height: 32px;
      background: none;
      border: none;
      margin: 0 auto;
      text-decoration: underline;
    }
  }
}

.container3 {
  @include onMobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 32px 38px 33px;
  }

  @include onTablet {
    display: grid;
    gap: 20px 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0 0 0 8%;

  }

  @include onDesktop {
    display: grid;
    gap: 20px 30px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    margin: 0 0 0 8% ;
  }
}

.card3 {
  @include onMobile {
    width: 117px;
    padding: 0 5px 0 5px;
  }

  @include onTablet {
    width: 117px;
    padding: 0 5px 0 5px;
  }

  @include onDesktop {
    width: 195px;
    height: 255px;
    padding: 0 5px 0 5px;
  }

  &__photo {
    @include onMobile {
      margin: auto;
    }

    @include onTablet {
      margin: auto;
    }

    @include onDesktop {
      display: block;
      margin: 0 auto;
    }
  }

  &__title {
    @include onMobile {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: 900;
      font-size: 7px;
      line-height: 10px;
      text-align: center;
    }

    @include onTablet {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: 900;
      font-size: 7px;
      line-height: 10px;
      text-align: center;
    }

    @include onDesktop {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: 900;
      font-size: 11px;
      line-height: 21px;
      text-align: center;
    }
  }

  &__description {
    @include onMobile {
      font-family: sans-serif;
      font-size: 10px;
      line-height: 15px;
      text-align: center;
    }

    @include onTablet {
      font-family: sans-serif;
      font-size: 10px;
      line-height: 15px;
      text-align: center;
    }

    @include onDesktop {
      font-family: sans-serif;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
    }
  }
}
