@import "../../../styles/mixines.scss";

.footer {
  @include onMobile {
    background-image: url("../../../images/HomePage/GradientFooter.png");
    background-size: cover;
    padding: 43px 32px 43px 32px;
  }

  @include onTablet {
    background-image: url("../../../images/HomePage/GradientFooterDesc.png");
    background-size: cover;
    padding: 43px 1.4% 43px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @include onDesktop {
    width: 88.6%;
    height: 100%;
    background-image: url("../../../images/HomePage/GradientFooterDesc.png");
    background-size: cover;
    padding: 43px 1.4% 43px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  &__block1 {
    @include onDesktop {
      width: 25%;
      margin-right: 5%;
    }

    &--icon {
      @include onMobile {
        display: block;
        margin-bottom: 29px;
      }

      @include onTablet {
        display: none;
      }

      @include onDesktop {
      display: none;
      }
    }

    &--iconDesc {
      @include onMobile {
        display: none;
      }

      @include onTablet {
        display: block;
        width: 141px;
        height: 45px;
        margin-bottom: 29px;
      }

      @include onDesktop {
        display: block;
        width: 141px;
        height: 45px;
        margin-bottom: 29px;
      }
    }

    &--text {
      @include onMobile {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 11px;
        line-height: 17px;
        color: #fff7f1;
        margin-bottom: 24px;
        max-width: 255px;
      }

      @include onTablet {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 13px;
        line-height: 17px;
        color: #fff7f1;
        margin-bottom: 24px;
        max-width: 281px;
      }

      @include onDesktop {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 15px;
        line-height: 17px;
        color: #fff7f1;
        margin-bottom: 24px;
      }
    }

    &--links {
      @include onMobile {
        display: flex;
        width: 90%;
        justify-content: space-between;
        gap: 12%;
        margin-bottom: 17px;
      }

      @include onTablet {
        display: flex;
        width: 25%;
        justify-content: space-between;
        gap: 12%;
        margin-bottom: 17px;
      }

      @include onDesktop {
        display: flex;
        width: 25%;
        justify-content: space-between;
        gap: 12%;
        margin-bottom: 17px;
      }
    }
  }

  &__block2 {
    @include onMobile {
      display: flex;
      flex-direction: row;
    }

    @include onTablet {
      display: block;
      width: 25%;
    }

    @include onDesktop {
      display: block;
      width: 25%;
    }

    &--text {
      @include onMobile {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 14px;
        line-height: 36px;
        color: #fff7f1;
        margin: 0 35px 0 0;
      }

      @include onTablet {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #fff7f1;
        margin: 3px;
      }

      @include onDesktop {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 20px;
        line-height: 36px;
        color: #fff7f1;
        margin: 3px;
      }
    }
  }

  &__block3 {
    @include onMobile {
      display: none;
    }

    @include onTablet {
      display: flex;
      flex-direction: column;
      width: 25%;
    }

    @include onDesktop {
      display: flex;
      flex-direction: column;
      width: 25%;
    }

    &--text {
      @include onMobile {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 14px;
        line-height: 36px;
        color: #fff7f1;
      }

      @include onTablet {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 15px;
        line-height: 36px;
        color: #fff7f1;
        margin: 0;
      }

      @include onDesktop {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 20px;
        line-height: 36px;
        color: #fff7f1;
        margin: 0;
      }
    }

    &--time {
      @include onMobile {
                display: block;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: 12px;
      line-height: 36px;
      color: #fff7f1;
      margin: 4% 0 0 2%;
      }

      @include onTablet {
        display: block;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: 16px;
      line-height: 36px;
      color: #fff7f1;
      margin: 0;
      }

      @include onDesktop {
        display: block;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: 20px;
      line-height: 36px;
      color: #fff7f1;
      margin: 0;
      }
    }
  }

  &__block3Mob {
    @include onMobile {
      display: block;
    }

    @include onTablet {
      display: none;
    }

    @include onDesktop {
      display: none;
    }
  }
}

.oneMoreFooter {
  @include onMobile {
    display: none;
  }

  @include onTablet {
    display: none;
  }

  @include onDesktop {
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  &__link {
    @include onTablet {
      display: block;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: 16px;
      line-height: 36px;
      color: #fff7f1;
      text-decoration: none;
      margin-bottom: 4%;
    }

    @include onDesktop {
      display: block;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: 20px;
      line-height: 36px;
      color: #fff7f1;
      text-decoration: none;
      margin-bottom: 4%;
    }
  }
}

.socialMedia {
  @include onMobile {
    display: none;
  }

  @include onTablet {
    display: block;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
  }

  @include onDesktop {
    display: block;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
  }
}

span {
  cursor: pointer;
}

.divForLink {
  width: 166px;
}

.iconFrame {
  @include onMobile {
    width: 28px;
    height: 28px;
  }
}

