@import "../../styles//mixines.scss";

.body2 {
  @include onMobile {
    background-image: url("../../images/GradientBody2.png");
    padding: 34px 0 41px 0;
  }

  &__title1 {
    @include onMobile {
      font-family: sans-serif;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__title2 {
    @include onMobile {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__button {
    @include onMobile {
      width: 173px;
      height: 32px;
      background: none;
      border: none;
      margin-left: 75px;
      text-decoration: underline;
    }
  }
}

.container2 {
  @include onMobile {
    margin: 0 54px 39px 54px;
  }
}

.card2 {
  @include onMobile {
    display: flex;
    flex-direction: column;
  }

  &__photo {
    @include onMobile {
      justify-content: center;
    }
  }

  &__title {
    @include onMobile {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: 700;
      font-size: 15px;
      line-height: 21px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__description {
    @include onMobile {
      font-family: sans-serif;
      font-size: 16px;
      line-height: 24px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}