@import "../../styles//mixines.scss";

.body3 {
  @include onMobile {
    background-image: url('../../images/GradientBody3.png');
    padding: 20px 0 39px 0;
  }

  &__title1 {
    @include onMobile {
      font-family: sans-serif;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
    }
  }

  &__title2 {
    @include onMobile {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
    }
  }

  &__button {
    @include onMobile {
      width: 173px;
      height: 32px;
      background: none;
      border: none;
      margin-left: 75px;
      text-decoration: underline;
    }
  }
}

.container3 {
  @include onMobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 32px 38px 33px;
  }
}

.card3 {
  @include onMobile {
    width: 117px;
    padding: 0 5px 0 5px;
  }

  &__photo {
    @include onMobile {
      margin: auto;;
    }
  }

  &__title {
    @include onMobile {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: 900;
      font-size: 7px;
      line-height: 10px;
      text-align: center;
    }
  }

  &__description {
    @include onMobile {
      font-family: sans-serif;
      font-size: 10px;
      line-height: 15px;
      text-align: center;
    }
  }
}